{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    {% render_block "css" %}
    {% block css_js_default_head %}{% endblock %}
    {% block css_js_lib_head %}{% endblock %}
    {% block css_js_custom_head %}{% endblock %}
    {% render_block "css" %}
</head>
<body class="page">
{% cms_toolbar %}
<!-- Preloader -->
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "TRANG CHỦ" "/" %}
{% endblock %}
{% block page_content %}{% endblock %}
{% block footer %}{% endblock %}

{% block js_default_foot %}{% endblock %}
{% block js_lib_foot %}{% endblock %}
{% block js_custom_foot %}{% endblock %}
{% render_block "js" %}
</body>
</html>