<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2>Trụ sở:</h2>
                            <p><i class="fa fa-map-marker-alt"></i>15 Quang Trung, TP. Đà Nẵng</p>
                            <p><i class="fa fa-phone-alt"></i>+84 905777699</p>
                            <p><i class="fa fa-envelope"></i>info@aiiot.com.vn</p>
                            <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Quick Links</h2>
                            <a href="">Terms of use</a>
                            <a href="">Privacy policy</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-newsletter">
                    <h2>Tìm kiếm</h2>
                    {#                    <p>#}
                    {#                        Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat#}
                    {#                        rhoncus, lorem quam iaculis felis, sed lacus neque id eros.#}
                    {#                    </p>#}
                    <form class="form-inline" id="search-form" action="{% url 'aiiotweb:rq-search-by-keyword' %}" method="get">
                        <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
                        <input id="user-input" class="form-control form-control-sm ml-3 w-75" type="text"
                               placeholder="Search" aria-label="Search" name="q">
                    </form>
{#                    <div class="form" id="search-form">#}
{#                        <input id="user-input" class="form-control" placeholder="Search">#}
{#                        <button class="btn">Submit</button>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#">2020</a>, Bản quyền thuộc Công ty Cổ phần AIIOT.</p>
            </div>
            <div class="col-md-6">
                <p>Designed By <a href="https://htmlcodex.com">AIIOT</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
