{% load static %}
<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a href={% url 'AFWeb:index' %} class="navbar-brand" style="font-family: 'Audiowide' !important;">Alpha Fusion VN</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="{% url 'AFWeb:index' %}" class="nav-item nav-link active">Trang chủ</a>
{#                <a href="{% url 'aiiotweb:about' %}" class="nav-item nav-link">About</a>#}
{#                <a href="#feature" class="nav-item nav-link scrollLink">Về chúng tôi</a>#}
{#                <a href="#service" class="nav-item nav-link scrollLink">Dịch vụ - Sản phẩm</a>#}

{#                {% for menu in list_menu %}#}
{#                    {% if menu.children %}#}
{#                        <div class="nav-item dropdown">#}
{#                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ menu.menu }}</a>#}
{#                            {% include "modules/recursive_menu.html" %}#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
                {% for menu in list_menu %}
                        <a href="/news/{{ menu.url }}" class="nav-item nav-link">{{ menu.menu }}</a>
                {% endfor %}
{#                <a href="{% url 'aiiotweb:about' %}" class="nav-item nav-link">Tuyển dụng</a>#}
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->