    <div class="container ">
        <div class="row mx-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pl-60px">
                <div class="color-333">
                    <h3 class="section_headding zilla_slab_regular font-size-36 line-height-1 wow fadeInDown animated margin-bottom-20 animated"
                        style="visibility: visible;">
                        Dịch vụ
                    </h3>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 pl-60px mb-3 mb-lg-0">
                <div class="bg-fcfcfc rounded p-3 border mCustomScrollbar features _mCS_1 mCS_no_scrollbar">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
                         style="max-height: none;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="row mx-0">
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="1" onclick="showService(this);"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100
                                            position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_1.svg"
                                                 alt="Customer Reservation" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Customer Reservation
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="2"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_2.svg"
                                                 alt="Online Ticket Reservation" style="width: 35px;"
                                                 class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Online Ticket Reservation
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="3"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_3.svg"
                                                 alt="Ticketing System" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Ticketing System
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="4"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_4.svg"
                                                 alt="Tours &amp; Travel" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Tours &amp; Travel
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="5"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_5.svg"
                                                 alt="Routes" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Routes
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="6"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_6.svg"
                                                 alt="Hotel Booking Feature" style="width: 35px;"
                                                 class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Hotel Booking Feature
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="7"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860099_1.svg"
                                                 alt="Tour Management" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Tour Management
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="8"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_8.svg"
                                                 alt="Report Generation" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Report Generation
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="mCSB_1_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; height: 0px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 mb-3 mb-lg-0">
                <div id="features-item1"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative  _mCS_2">
                    <div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: none;">
                        <div id="mCSB_2_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                             dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                {{ dataID }}
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                Your customer can log in to the system with valid credentials and search for the
                                required services from the list provided in the app. This feature enables your customer
                                to view the list of services based on the categories like flights, cars, buses, and
                                hotel etc, registered in the application. This feature lets them select the service and
                                view the respective fare charts. Your customer can view and reserve/book the services
                                based on the categories by making payment. Once the services are booked/reserved, they
                                receive booking/reservation confirmation message by SMS / Email.<br></div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_2_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_2_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: block;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_2_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; display: block; height: 281px; max-height: 356px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>