{% load static %}
{% static "" as baseUrl %}
<!-- Service Start -->
<div class="service" id="service">
    <div class="container">
        <div class="section-header">
{#            <p>Consulting Services</p>#}
            <h2>DU LỊCH SỐ</h2>
        </div>
        <div class="row">
            {% for service in home_services %}
            <div class="col-lg-6 col-md-6">
                <div class="service-item">
                    <img src="{{ baseUrl }}media/{{ service.hinh_anh }}" alt="Icon">
                    <h3>{{ service.tieu_de}}</h3>
                    <p>
                        {{ service.noi_dung | safe}}
                    </p>
{#                    <a href="">Read More</a>#}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->