<section class="section yellow_listed_section" id="features-section">
    <div class="container ">
        <div class="row mx-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pl-60px">
                <div class="color-333">
                    <h3 class="section_headding zilla_slab_regular font-size-36 line-height-1 wow fadeInDown animated margin-bottom-20 animated"
                        style="visibility: visible;">
                        App Features
                    </h3>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 pl-60px mb-3 mb-lg-0">
                <div class="bg-fcfcfc rounded p-3 border mCustomScrollbar features _mCS_1 mCS_no_scrollbar">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
                         style="max-height: none;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="row mx-0">
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="1"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 active-item">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_1.svg"
                                                 alt="Customer Reservation" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Customer Reservation
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="2"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_2.svg"
                                                 alt="Online Ticket Reservation" style="width: 35px;"
                                                 class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Online Ticket Reservation
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="3"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_3.svg"
                                                 alt="Ticketing System" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Ticketing System
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="4"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_4.svg"
                                                 alt="Tours &amp; Travel" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Tours &amp; Travel
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="5"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_5.svg"
                                                 alt="Routes" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Routes
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="6"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_6.svg"
                                                 alt="Hotel Booking Feature" style="width: 35px;"
                                                 class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Hotel Booking Feature
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="7"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860099_1.svg"
                                                 alt="Tour Management" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Tour Management
                                        </div>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 mb-3">
                                    <button data-id="8"
                                            class="px-3 py-2 features-items rounded app-features bg-f4f4f4 w-100 position-relative d-flex align-items-center zilla_slab_regular font-size-18 ">
                                        <div class="position-absolute">
                                            <img height="100%" width="35px"
                                                 src="https://tvishacdn.tvisha.com/data/category_images/1551860069_8.svg"
                                                 alt="Report Generation" style="width: 35px;" class="mCS_img_loaded">
                                        </div>
                                        <div class="pl-5 pr-3 text-left line-height-1-25">
                                            Report Generation
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="mCSB_1_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; height: 0px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 mb-3 mb-lg-0">
                <div id="features-item1"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative  _mCS_2">
                    <div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: none;">
                        <div id="mCSB_2_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                             dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                Customer Reservation
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                Your customer can log in to the system with valid credentials and search for the
                                required services from the list provided in the app. This feature enables your customer
                                to view the list of services based on the categories like flights, cars, buses, and
                                hotel etc, registered in the application. This feature lets them select the service and
                                view the respective fare charts. Your customer can view and reserve/book the services
                                based on the categories by making payment. Once the services are booked/reserved, they
                                receive booking/reservation confirmation message by SMS / Email.<br></div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_2_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_2_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: block;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_2_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; display: block; height: 281px; max-height: 356px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="features-item2"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative d-none _mCS_3 mCS_no_scrollbar"
                     style="">
                    <div id="mCSB_3" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: 366px;">
                        <div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                Online Ticket Reservation
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                Our <b>travel software solutions</b> allow your customer to view and book the tickets
                                online from any location if registered in the app. This feature allows them to reserve
                                the ticket online, where your customer can receive the e-tickets instantly by printing
                                the ticket and downloading it. They will receive a booking confirmation message through
                                SMS / Email.<br></div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_3_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_3_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_3_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="features-item3"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative d-none _mCS_4 mCS_no_scrollbar"
                     style="">
                    <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: 366px;">
                        <div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                Ticketing System
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                Our <b>travel software development</b> enables your customers to keep a track record of
                                tickets confirmed/canceled and refunded. This feature helps the app owners in managing
                                allocations which becomes hassle free and it also helps end users to reserve/book
                                tickets and also by preventing inconvenience after booking until the trip gets executed.<br>
                            </div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_4_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_4_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="features-item4"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative d-none _mCS_5 mCS_no_scrollbar"
                     style="">
                    <div id="mCSB_5" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: 366px;">
                        <div id="mCSB_5_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                Tours &amp; Travel
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                This feature helps your customer to search for nearby tourist spots and travel agency or
                                they can even search for a particular tour and travel packages based on city and
                                location. Using this feature your customer can view the different list of tours and
                                travel packages based on the search location and pricing as well. Moreover, they can
                                view the details of each travel agent and the packages given by them, your customer can
                                select and book the best tour and travel agents/packages and can make payments. Once the
                                booking is confirmed your customer will receive details of the travel and tour agents,
                                where they can contact them offline through contact number.<br></div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_5_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_5_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_5_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="features-item5"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative d-none _mCS_6 mCS_no_scrollbar"
                     style="">
                    <div id="mCSB_6" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: 366px;">
                        <div id="mCSB_6_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                Routes
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                This feature gives a different list of tour and travel packages along with the display
                                of routes. This feature allows your customer to enter source and destination where they
                                will be able to view the maps and the route information of the entered location. Using
                                this feature the app displays the maps with the help of the Google maps which will be
                                integrated into the application. Using Google maps the system will display via route if
                                the bus/train travels to the same location with a different route. This feature makes
                                easy for your customer to understand the routes by Live tracking their Journey.<br>
                            </div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_6_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_6_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_6_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="features-item6"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative d-none _mCS_7 mCS_no_scrollbar"
                     style="">
                    <div id="mCSB_7" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: 366px;">
                        <div id="mCSB_7_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                Hotel Booking Feature
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                This feature entails your customer to search and view the list of hotels based on the
                                location and select the hotel from the list. Your customer can also search the hotel
                                based on pricing. This feature helps them to view the list of amenities and helps in
                                choosing the hotel as per the location with the details like hotel info, hotel
                                overviews, Photo gallery, room type and amenities details, season/category wise room
                                rates, cancellation policies, Offers discounts and promotions. Using this feature they
                                can book the Hotel Room by adding the number of visitors the checking /checkout date,
                                time and other basic details. Once the booking is done, your customer will receive a
                                booking confirmation message by SMS / Email.<br></div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_7_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_7_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_7_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="features-item7"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative d-none _mCS_8 mCS_no_scrollbar"
                     style="">
                    <div id="mCSB_8" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: 366px;">
                        <div id="mCSB_8_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                Tour Management
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                This feature enables your customer to search facilities based on various factors such as
                                travel agent and packages, Transportation, Booking hotel and tour. They can view and
                                select the services based on location, packages, pricing etc. Based on the selection,
                                your customer can book the tour and avail the facilities by making payment and receive
                                booking confirmation through SMS / Email. Using this feature the app owner can manage
                                the details and track the information of the online customer, travel agent, packages,
                                transport, hotel books, and tours.<br></div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_8_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_8_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_8_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="features-item8"
                     class="bg-fcfcfc p-3 border rounded features-item-dec mCustomScrollbar features position-relative d-none _mCS_9 mCS_no_scrollbar"
                     style="">
                    <div id="mCSB_9" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                         style="max-height: 366px;">
                        <div id="mCSB_9_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                             style="position:relative; top:0; left:0;" dir="ltr">
                            <div class="zilla_slab_regular font-size-24 registration-headding mb-2">
                                Report Generation
                            </div>
                            <div class="zilla_slab_light font-size-18">
                                Our travel booking software entails generation of reports of customer, travel agent,
                                packages, transport, hotel books, and trips. Your customer can generate the reports on
                                booking train, Bus Flight, Hotels etc. This feature helps them to search and filter
                                reports on bookings. Using this feature your customer can easily download the PDF for
                                booking train, Bus Flight, Hotels etc Application also provides excel export for booking
                                services. They can view the reports in graphical representation based on the
                                services.<br></div>
                            <div class="position-absolute buttons d-none">
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/l-arrow.svg" style="width: 15px;"
                                         alt="left arrow" class="mCS_img_loaded">
                                </button>
                                <button class="arrows btn p-2 rounded-circle d-inline-flex">
                                    <img src="https://tvishacdn.tvisha.com/img/r-arrow.svg" style="width: 15px;"
                                         alt="right arrow" class="mCS_img_loaded">
                                </button>
                            </div>
                        </div>
                        <div id="mCSB_9_scrollbar_vertical"
                             class="mCSB_scrollTools mCSB_9_scrollbar mCS-light mCSB_scrollTools_vertical"
                             style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_9_dragger_vertical" class="mCSB_dragger"
                                     style="position: absolute; min-height: 30px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>