<!-- Testimonial Start -->
{% load static %}
{#{% static "" as baseUrl %}#}
<div class="testimonial">
    <div class="container">
        <div class="section-header">
            <h2>Đối tác</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
            {% for client in list_clients%}
            <div class="testimonial-item">
                <img src="media/{{ client.hinh_anh }}" alt="Image">
{#                <p>#}
{#                    Phasellus pellentesque tempus pretium. Quisque in enim sit amet purus venenatis porttitor sed non#}
{#                    velit. Vivamus vehicula finibus#}
{#                </p>#}
                <h2>{{ client.client }}</h2>
{#                <h3>Profession</h3>#}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Testimonial End -->