{% extends 'base-site/base-side.html' %}

{% load static %}

{% block page_content %}
    {% include 'modules/carousel.html' %}
{#    {% include 'modules/modal_video.html' %}#}
    <section class="section yellow_listed_section" id="features-section">
        {% include 'modules/services_custom.html' %}
    </section>
    {% include 'modules/about.html' %}
    {% include 'modules/blog.html' %}
{#    {% include 'modules/about.html' %}#}
    {% include 'modules/testimonial.html' %}
{#    {% include 'modules/team.html' %}#}
{#    {% include 'modules/contact.html' %}#}
{#    {% include 'modules/fact.html' %}#}
{% endblock %}