{% load static %}
<!-- Booking search -->
<section class="container tm-home-section-1" id="more">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <!-- Nav tabs -->
            <div class="tm-home-box-1">
                <ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
                    <li role="presentation" class="active">
                        <a href="/#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Trong nước</a>
                    </li>
                    <li role="presentation">
                        <a href="/#car" aria-controls="car" role="tab" data-toggle="tab">Quốc tế</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
                        <div class="tm-search-box effect2">
{#                            <form name="searchHome">#}
                                <div class="tm-form-inner">
                                    <div class="form-group">
                                        <select class="form-control" id="destinationSelected">
                                            <option value="">-- Chọn --</option>
                                            {% for foo in places %}
                                                <option value="{{ foo.id }}">{{ foo.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <div class='input-group'>
{#                                            <input type='text' class="form-control date" id="dateCheckIn" placeholder="Check-in Date"/>#}
                                            <div class="t-datepicker" id='datetimepicker1'>
                                                <div class="t-check-in" id="dateCheckIn"></div>
                                            </div>
                                            <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class='input-group'>
{#                                            <input type='text' class="form-control date" id="dateCheckOut" placeholder="Check-out Date"/>#}
                                            <div class="t-datepicker" id='datetimepicker2'>
                                                <div class="t-check-out" id="dateCheckOut"></div>
                                            </div>
                                            <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group tm-yellow-gradient-bg text-center">
                                    <button type="submit" name="submit" onclick="onSearchDestinationJson();" class="tm-yellow-btn">Check Now</button>
                                </div>
{#                            </form>#}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade tm-white-bg" id="car">
                        <div class="tm-search-box effect2">
{#                            <form action="#" method="post" class="hotel-search-form">#}
                                <div class="tm-form-inner">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">-- Select Model --</option>
                                            <option value="shangrila">BMW</option>
                                            <option value="chatrium">Mercedes-Benz</option>
                                            <option value="fourseasons">Toyota</option>
                                            <option value="hilton">Honda</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group date-time' id='datetimepicker3'>
                                            <input type='text' class="form-control" placeholder="Pickup Date"/>
                                            <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group date-time' id='datetimepicker4'>
                                            <input type='text' class="form-control" placeholder="Return Date"/>
                                            <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="">-- Options --</option>
                                            <option value="">Child Seat</option>
                                            <option value="">GPS Navigator</option>
                                            <option value="">Insurance</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group tm-yellow-gradient-bg text-center">
                                    <button type="submit" name="submit" class="tm-yellow-btn">Check Now</button>
                                </div>
{#                            </form>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                <img src="/media/{{ vouchers_first.voucher_image }}" class="img-responsive">
                <a href="#">
                    <div class="tm-green-gradient-bg tm-city-price-container">
                        <span>{{ vouchers_first.destination.name }}</span>
                        <span>{{ vouchers_first.sale_price }} VNĐ</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
                <img src="/media/{{ voucher_second.voucher_image }}" alt="image" class="img-responsive">
                <a href="#">
                    <div class="tm-red-gradient-bg tm-city-price-container">
                        <span>{{ voucher_second.destination.name }}</span>
                        <span>{{ voucher_second.sale_price }} VNĐ</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>