{% extends 'base-site/base-side.html' %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block css_js_custom_head %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet">
    <link href="{% static 'css/t-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/t-datepicker-yellow.css' %}" rel="stylesheet" type="text/css">
{#    <link href="{% static 'css/booking-page-style.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/booking-page-style.css' %}" rel="stylesheet">
    <style>
        .t-check-out .t-datepicker-day{
            left: 0 !important;
        }
    </style>
{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb place_name "/place/view-des-place-detail/" %}
{% endblock %}
{% block page_content %}
{#    {% include 'modules/carousel.html' %}#}
    {% if des_list %}
        {% include 'pages/travel/travel_modules/block-booking-search-customize.html' %}
<section>
        <div class="row">
            <div class="container">
                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs sidebar">
                    {% include 'pages/travel/travel_modules/block-filter-list.html' %}
                    <input type="hidden" id="place_name" value="{{ place_name }}">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 no-padding-xs">
                    {% render_breadcrumbs %}
                    <div id="list_des_by_place" class="row">
                        {% include 'pages/travel/travel_modules/list_des_by_place.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
        {% include 'pages/travel/block-booking-search.html' %}
    {% endif %}
{#    {% include 'bookingWeb/home/components/block-places-new.html' %}#}
{#    {% include 'bookingWeb/home/components/block-support-slogan.html' %}#}

{% endblock %}
{% block js_custom_foot %}
{#<script>#}
{#        function onSearchDestinationJson() {#}
{#            destinationIdSelected = $('#destinationSelected').val();#}
{#            startDay = $('#dateCheckIn').val();#}
{#            endDay = $('#dateCheckOut').val();#}
{#            if(destinationIdSelected == '' || startDay != '' && endDay == '') {#}
{#                alert('Vui lòng chọn Địa điểm');#}
{#            }else if(startDay != ''){#}
{#                while(startDay.indexOf('/') != -1) {#}
{#                startDay = startDay.replace('/', '-');#}
{#                }#}
{#                while(endDay.indexOf('/') != -1) {#}
{#                    endDay = endDay.replace('/', '-');#}
{#                }#}
{#                location.href = "/search/rq-search-json/"+destinationIdSelected+"/" + startDay + "/" + endDay+ "/";#}
{#            }else{#}
{#                startDay = '-'#}
{#                endDay = '-'#}
{#                location.href = "/search/rq-search-json/"+destinationIdSelected+"/" + startDay + "/" + endDay+ "/";#}
{#            }#}
{##}
{#        };#}
{#    </script>#}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/Place_stopExecutionOnTimeout.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>                            <!-- moment.js -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>                    <!-- bootstrap js -->
    <script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/templatemo-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js-search-load-href.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js-search-booking.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{% static 'js/t-datepicker.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Call global the function
            $('.t-datepicker').tDatePicker({
                // options here
            });
        });
    </script>
{% endblock %}